body{
background-color: azure;
margin: 10px;
text-align: center;
width: 100%;
height: auto;
font-family: Arial, Helvetica, sans-serif;

}

h2{
    width: 50%;
    margin: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rosybrown;
    color: white;
}
input{
    border: 1px solid ;
    size: 40%;
    margin: 10px;
    padding: 5px;
    font-size: large;

}

button{
    border: 1px solid;
    width: 100px;
    height: 50px;
    font-size: larger;
    font-weight: bold;
    
}