*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

}

.main_container {
    border: solid 1px white;
    margin: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* .main_form {
    margin: 25px;
} */

form{
    margin: 25px;
    border: solid 2px red;
    height: 100%;
}
.form_heading {
    text-align: center;
    font-size: 30px;
}

.form_heading hr {
    margin: 20px ;
}

.main_input {
    margin-top: 35px;
}

.input-heading {
    font-size: 30px;
    margin-bottom: 5px;
}

.input_fields {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.name{

    font-weight:   normal;
}
.small_input {
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
}

.help_text {
    padding: 5px 0 0 0;
    font-size: 10px;
}

.address_field{

    display: flex;
    flex-direction: row;
}

.address_input {
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    width: 100%;
    margin: 5px 0;
}

.city_fields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.city_input {
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    margin: 10px 0 0 0 ;
}

.country_input{
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    width: 80%;
    margin: 5px 0;
}

.radio_input{
    padding: 5px;
}

.rating p{
    display: inline;
    margin: 10px;
}

.rating_input{
    margin: 10px;
}

.button{
    margin: 25px 0;
    text-align: center;
   
    border: solid 0px;
}
button{
    padding: 15px;
    font-size: 20px;
    border: solid 1px white;
    color: white;
    border-radius: 20px;
    background-color: blue;
    width: 15%;
}
