*{
    margin: 0px;
    padding: 0px;

}
body{
background-color: white;
}
.main_page{
    width: 100%;
    background: linear-gradient(30deg, aqua, rgba(73, 165, 88, 0.473), lightblue);
    border: solid 1px red;
}

header{
    background-color: greenyellow;
    display: flex;
    text-align: center;
    gap: 200px;
   

}
h1{
    text-align: center;
    font-family: sans-serif;
    color: rgb(214, 42, 19);
    border: solid white 4px;

}

.large_data{
    font-size: 30px;
    padding: 5px;
}
nav{
   margin-left: 50px;
}

.nav_ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
   
}

.ul_item{
    background-color: blueviolet;
    border-radius: 10px;
    border: solid 0px white;
    margin: 10px;
    padding: 5px;
}


.medium_data{
    font-size: 20px;
    padding: 5px;

}

.small_data{

    font-size: 12px;
    padding: 3px;
}

.border{
    border: solid 1px;
    padding: 5px;
    margin: 15px;
}
 form{
    border: solid yellow 2px;
    background-color: hotpink;
    width: 50%;
    padding: 10px;
 }

 .selection{
    display: flex;
    margin-bottom: 25px;
   
 }
 .login{
    font-size: 25px;
    background-color: rgb(179, 83, 19);
    width: 50%;
    padding: 10px;
 }

 .signup{
    font-size: 25px;
    background-color: rgb(158, 45, 152);
    width: 50%;
    padding: 10px;

 }

 .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }

 .item{
    width: 40%;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
 }