*{
    margin: 0px;
    padding: 0px;

}
body{
background-color: white;
}
.main_page{

    background: linear-gradient(30deg, aqua, rgba(73, 165, 88, 0.473), lightblue);
    border: solid 2px red;
    margin: 5px;
    padding: 10px;
    height: 700px;
}

header{
    background-color: rgb(173, 132, 153);
    height: 80px;
    border: solid rgb(155, 121, 138) 2px; }
header img{
    position: absolute;
    top: 27px;
    left: 430px;
    width: fit-content;
    height: 70px;
    border-radius: 35px;

    
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: rgb(214, 42, 19);
    width: 100%;
    margin-bottom: 10px;

}

.large_data{
    font-size: 45px;
    padding: 10px;
}
nav{
   margin-left: 50px;
}

.nav_ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
   
}

.ul_item{
    background-color: blueviolet;
    border-radius: 10px;
    border: solid 0px white;
    margin: 10px;
    padding: 5px;
}


.medium_data{
    font-size: 20px;
    padding: 5px;

}

.small_data{

    font-size: 12px;
    padding: 3px;
}

.border{
    border: solid 1px;
    padding: 5px;
    margin: 15px;
}

 form{
    border: solid rgb(128, 100, 114) 2px;
    background-color: rgb(173, 132, 153);
    width: 48%;
    height: 500px;
    padding: 10px;
    float: left;
 }

 .selection{
    display: flex;
    margin-bottom: 25px;
   
 }
 .login{
    font-size: 25px;
    background-color: rgb(179, 83, 19);
    width: 50%;
    padding: 10px;
    text-align: center;
 }

 .signup{
    font-size: 25px;
    background-color: rgb(158, 45, 152);
    width: 50%;
    padding: 10px;
    text-align: center;

 }

 .container{
    display: flex;
    flex-wrap: wrap;
 }



 .container .item{
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
 }

 #data{
    font-size: 20px;
    padding: 5px;
    width: 100%;
    width: 65%;
    border-radius: 10px;
 }
 main{
    background-color: coral;
    border: solid 2px;
    width: 48%;
    padding: 10px;
    height: 500px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.margin{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button{
    width: 150px;
    font-size: 30px;
    font-weight: bold;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    color: brown;
    background-color: aquamarine;  
}

.social{

    margin: 12px;
}
.container h2{
    font-family: cursive;
    font-size: 20px;
    margin: 10px 40px 10px 40px;
}

 .container img{
    width: 50px;
    height: 50px;

 }
 .footer{
    clear: left;
    border: solid 2px rgb(92, 54, 54);
    height: 45px;
    background-color: rgb(92, 54, 54);

 }

.footer-main{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}


